// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$button-main: #66b65f;
$button-main-darker: rgb(94, 158, 88);
$button-main-alt: #113C67;

$light-gray: #E3E3E3;

$text-dark: #484848;
$text-white: white;
$blue-plain: #41869e;
