  <div class="footer">
    <p><%= link_to "Contact us", new_lead_path %></p>
    <p><%= link_to "Learn more", learn_more_path %></p>
    <div class="footer-copyright">
      &#9400;2018 Solarize Me
    </div>
  </div>

