<div class="container learnmore-container" id="js-cards-list">
  <div class="learnmore-center">
    <%= link_to 'Back', :back, class: "btn btn-goback" %>
  </div>
  <strong>  <h4>Are you an investor looking to invest in sustainability? We offer regular dividends on the long run, and a small entry ticket. </h4> </strong>
  <ol>
    <li>
      <p>You buy solar panels on the roof of a host company.</p>
    </li>
    <li>
      <p>The host company buys the energy created by the solar panels.</p>
    </li>
    <li>
      <p>We manage everything: we buy the panels, we install them, we bill the host company for the energy consumed and we pay you dividends for your panels.</p>
    </li>
  </ol>
  <br>
  <div class="learnmore-center">
    <%= link_to "Start investing now", projects_path, class: "btn-main-green" %>
  </div>
  <br>
  <br>
  <h4>Are you a company willing to increase the part of sustainable energy in their consumption, and to lower the costs of the energy bill?</h4>
  <ol>
    <li>
      <p>We provide the funds for buying and installing the solar panels on your roof.</p>
    </li>
    <li>
      <p>We are your single point of contact; we manage the relations with all others actors (investors, subcontractors, state agencies...).</p>
    </li>
    <li>
      <p>If your energy cunsumption is below the production of the solar panels, we sell it back to the grid. You only pay for your actual energy needs.</p>
    </li>
  </ol>

  <div class="learnmore-center">
    <%= link_to "Contact us", new_lead_path, class: "btn-main-green" %>
  </div>

  <h4>FAQ</h4>
  <ul>
    <li><p><strong>Q: How the crowdfunding campaign works?</strong></p>
      <p>Every project is crowdfunded. Depending on the size of the project, a campaign can last between 60 and 90 days. Once the investment goal is reached, the campaign is closed and the investment is confirmed. If by the end of the project timing the goal is not reached, SolarizeMe will try to find additional investments from traditional players (banks...). Depending on the success of this second round, SolarizeMe will confirm or cancel the project.</p></li>
    <li><p><strong>Q: When are the funds collected from my bank account?</strong></p>
      <p>As soon as you decide to invest. This is necessary to guarantee that all individual investors are solvent and committed to their investment. If the project is eventually cancelled, all funds are returned to investors.</p></li>
  </ul>
  <div class="learnmore-center">
    <%= link_to 'Back', :back, class: "btn btn-goback" %>
  </div>
</div>
